h1= title
form( method="post")
    div
        div
            span User :
            input(type="text", name="user", id="editUser")
        div
            span Pass :
            input(type="text", name="pass", id="editPass")
        div#editLoginSubmit
            input(type="submit", value="Login")
